@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 0 0% 14.9%;

    --card: 0 0% 96.1%;
    --card-foreground: 0 0% 14.9%;

    --popover: 0 0% 96.1%;
    --popover-foreground: 0 0% 14.9%;

    --primary: 0 0% 14.9%;
    --primary-foreground: 0 0% 96.1%;

    --secondary: 0 0% 89.8%;
    --secondary-foreground: 0 0% 14.9%;

    --muted: 0 0% 89.8%;
    --muted-foreground: 0 0% 32.2%;

    --accent: 0 0% 89.8%;
    --accent-foreground: 0 0% 14.9%;

    --destructive: 347 87% 44%;
    --destructive-foreground: 0 0% 14.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 89.8%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 83.1%;

    --card: 0 0% 9%;
    --card-foreground: 0 0% 83.1%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 83.1%;

    --primary: 0 0% 83.1%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 83.1;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 83.1;

    --destructive: 347 87% 44%;
    --destructive-foreground: 0 0% 83.1;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth motion-reduce:scroll-auto;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased text-sm md:text-base;
  }

  strong {
    @apply font-semibold;
  }

  ::selection {
    background-color: #e5e5e5;
    color: black;
  }
  .dark ::selection {
    background-color: #262626;
    color: white;
  }

  @media (min-width: 768px) {
    ::-webkit-scrollbar {
      @apply w-2 h-2 bg-transparent;
    }
    ::-webkit-scrollbar-thumb {
      @apply bg-neutral-600;
    }
    ::-webkit-scrollbar-track {
      @apply bg-neutral-300;
    }
    ::-webkit-scrollbar-button {
      @apply hidden;
    }

    .dark {
      ::-webkit-scrollbar-thumb {
        @apply bg-neutral-400;
      }
      ::-webkit-scrollbar-track {
        @apply bg-neutral-800;
      }
    }
  }
}

@layer base {
  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }

  .page-transition {
    animation-name: page-transition;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.14, 0.64, 0.51, 0.94);
  }

  @keyframes page-transition {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.react-tooltip {
  @apply rounded-md border bg-popover px-3 py-1.5 text-sm text-popover-foreground shadow-md transition-opacity absolute top-0 left-0 opacity-0 z-50 duration-200;
}
.react-tooltip__show {
  @apply opacity-100;
}
