@use "@catppuccin/palette/scss/catppuccin";

@tailwind base;
@tailwind components;
@tailwind utilities;

$latte: map-get(catppuccin.$palette, "latte");
$mocha: map-get(catppuccin.$palette, "mocha");

@layer base {
  :root {
    --background: #{map-get($latte, "base")};
    --foreground: #000000;

    --muted: #{map-get($latte, "crust")};
    --muted-foreground: #{map-get($latte, "subtext1")};

    --popover: #{map-get($latte, "base")};
    --popover-foreground: #{map-get($latte, "text")};

    --card: #{map-get($latte, "base")};
    --card-foreground: #000000;

    --border: #{map-get($latte, "crust")};
    --input: #{map-get($latte, "crust")};

    --primary: #{map-get($latte, "red")};
    --primary-foreground: #ffffff;

    --secondary: #{map-get($latte, "crust")};
    --secondary-foreground: #000000;

    --accent: #{map-get($latte, "crust")};
    --accent-foreground: #000000;

    --destructive: #{map-get($latte, "maroon")};
    --destructive-foreground: #ffffff;

    --ring: #{map-get($latte, "crust")};

    --radius: 0.5rem;
  }

  .dark {
    --background: #{map-get($mocha, "crust")};
    --foreground: #ffffff;

    --muted: #{map-get($mocha, "mantle")};
    --muted-foreground: #{map-get($mocha, "overlay1")};

    --popover: #{map-get($mocha, "crust")};
    --popover-foreground: #{map-get($mocha, "overlay2")};

    --card: #{map-get($mocha, "crust")};
    --card-foreground: #ffffff;

    --border: #{map-get($mocha, "base")};
    --input: #{map-get($mocha, "base")};

    --primary: #{map-get($latte, "red")};
    --primary-foreground: #ffffff;

    --secondary: #{map-get($mocha, "base")};
    --secondary-foreground: #ffffff;

    --accent: #{map-get($mocha, "base")};
    --accent-foreground: #ffffff;

    --destructive: #{map-get($latte, "maroon")};
    --destructive-foreground: #ffffff;

    --ring: #{map-get($mocha, "base")};
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
