---
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";
import { authConfig } from "@/constants/auth";
import Auth from "@/components/guestbook/Auth";
import Form from "@/components/guestbook/Form";

export const prerender = false;

const session = await getSession(Astro.request, authConfig);
---

<Layout title="Guestbook" description="Sign my guestbook and leave your mark.">
  <div class="mt-6">
    {
      session ? (
        <Form session={session} client:visible />
      ) : (
        <Auth client:visible />
      )
    }
  </div>
</Layout>
