---
import "@/styles/blog.scss";
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";
import { SignIn, SignOut } from "@/components/guestbook/Auth";
import PreformattedText from "@/components/blog/PreformattedText.astro";
import { Code } from "astro/components";
import { authConfig } from "@/constants/auth";

export const prerender = false;

const session = await getSession(Astro.request, authConfig);
---

<Layout title="Guestbook" description="Sign my guestbook and leave your mark.">
  <div class="mt-6">
    {
      session ? (
        <>
          <PreformattedText>
            <Code lang="json" code={JSON.stringify(session)} />
          </PreformattedText>
          <SignOut client:visible />
        </>
      ) : (
        <SignIn client:visible />
      )
    }
  </div>
</Layout>
