---
import Layout from "@/layouts/Layout.astro";
import {
  TypographyP,
  TypographyMuted,
  TypographyH2,
} from "../components/ui/typography";
---

<Layout title="Podter">
  <TypographyMuted>I'm not currently doing anything!</TypographyMuted>
  <TypographyP className="!mt-1">
    Rerum veniam earum est vel quis distinctio repudiandae error. Exercitationem
    autem eligendi cupiditate nam enim exercitationem omnis. Voluptatem
    dignissimos quos dolorem dolores magnam. Exercitationem nihil temporibus eos
    quia facilis rerum est.
  </TypographyP>
  <TypographyP>
    Rerum veniam earum est vel quis distinctio repudiandae error. Exercitationem
    autem eligendi cupiditate nam enim exercitationem omnis.
  </TypographyP>
  <h2 class="mt-10 scroll-m-20 text-xl font-semibold tracking-tight">
    Projects
  </h2>
  <TypographyP>
    Rerum veniam earum est vel quis distinctio repudiandae error. Exercitationem
    autem eligendi cupiditate nam enim exercitationem omnis.
  </TypographyP>
</Layout>
