---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="flex justify-center items-center h-screen w-full">
    <h1 class="text-4xl font-bold">Hello, world!</h1>
  </div>
</Layout>
