---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Projects"
  description="I spend my free time or hobby coding or working on projects just for fun and learning."
>
  <p>Projects</p>
</Layout>
