---
import { getCollection } from "astro:content";
import { TypographyAnchor } from "../ui/typography";
import { format } from "date-fns";

const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
  .slice(0, 4);
---

<div class="flex flex-col mt-6">
  {
    posts.map((post) => (
      <div class="flex justify-between mb-4">
        <TypographyAnchor href={"/blog/" + post.slug}>
          {post.data.title}
        </TypographyAnchor>
        <span>{format(post.data.date, "d MMMM, yyyy")}</span>
      </div>
    ))
  }
  <TypographyAnchor href="/blog">All posts →</TypographyAnchor>
</div>
