---
import { TypographyAnchor } from "@/components/ui/typography";
import projects from "@/constants/projects";
---

<div class="grid grid-cols-2 md:grid-cols-3 gap-4 mt-6">
  {
    projects.map(({ title, shortDescription, url, sourceUrl }) => {
      if (!shortDescription) return null;
      return (
        <div class="flex flex-col w-full">
          <TypographyAnchor href={url ?? sourceUrl}>{title}</TypographyAnchor>
          <span class="mt-3">{shortDescription}</span>
        </div>
      );
    })
  }
  <div class="flex flex-col w-full md:hidden">
    <TypographyAnchor href="/projects">More projects →</TypographyAnchor>
    <span class="mt-3">View a list of projects I've worked on.</span>
  </div>
</div>

<TypographyAnchor className="hidden md:block mt-6" href="/projects">
  More projects →
</TypographyAnchor>
