---
import { Separator } from "@/components/ui/separator";
---

<footer class="flex flex-col mt-24">
  <Separator />
  <div class="flex items-center justify-between mt-6">
    <span>Podter</span>
  </div>
</footer>
