---
import { Separator } from "@/components/ui/separator";
import SocialLink from "./SocialLink";
import { socials } from "@/constants/socials";
---

<footer class="flex flex-col mt-24">
  <Separator className="h-[3px]" />
  <div class="flex items-center justify-between mt-3">
    <span>Podter</span>
    <div class="flex flex-row items-center gap-0.5">
      {
        Object.entries(socials).map(([social, data]) => (
          <SocialLink name={social} data={data} />
        ))
      }
    </div>
  </div>
</footer>
