---
import { Button } from "@/components/ui/button";
import { Command } from "lucide-react";
import ThemeToggle from "./ThemeToggle";
---

<header class="flex items-center justify-between h-8 mb-8">
  <h1 class="text-muted-foreground">podter._</h1>
  <div class="flex gap-1">
    <Button size="xs" variant="outline">
      <Command size={16} />
    </Button>
    <ThemeToggle client:only />
  </div>
</header>
