---
import { Button } from "@/components/ui/button";
import { Sun, Command } from "lucide-react";
---

<header class="flex items-center justify-between h-8 mb-8">
  <h1>Podter</h1>
  <div class="flex gap-1">
    <Button size="xs" variant="outline">
      <Command size={16} />
    </Button>
    <Button size="xs" variant="outline">
      <Sun size={16} />
    </Button>
  </div>
</header>
