@use "sass:math";

.content_transition > * {
  animation-name: content_transition;
  animation-duration: 1.125s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: both;
}

@for $i from 1 through 24 {
  .content_transition > :nth-child(#{$i}) {
    animation-delay: #{0.075 * $i}s;
  }
}

@keyframes content_transition {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
