@use "@catppuccin/highlightjs/sass/theme";

code {
  @include theme.highlights("latte", "hex");

  &.hljs {
    background-color: hsl(var(--background)) !important;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;

    display: block;
    overflow-x: auto;
  }
}

.dark {
  code {
    @include theme.highlights("mocha", "hex");
  }
}
