@use "@catppuccin/highlightjs/sass/theme";

code {
  @include theme.highlights("latte", "hex");

  &.hljs {
    background-color: hsl(var(--background)) !important;
    padding: 1rem;
    display: block;
    overflow-x: auto;

    @media (min-width: 768px) {
      &::-webkit-scrollbar-thumb {
        @apply bg-foreground/10;
      }
    }
  }
}

.rehype-autolink-headings {
  &::after {
    content: url("/icons/link.svg");

    display: none;
    margin-left: 0.5rem;
    opacity: 0.5;
  }

  &:hover::after {
    display: inline;
  }
}

.dark {
  code {
    @include theme.highlights("mocha", "hex");
  }

  .rehype-autolink-headings::after {
    filter: invert(1);
  }
}
