.rehype-autolink-headings {
  &::after {
    @apply content-[url('/icons/link.svg')] dark:content-[url('/icons/link-dark.svg')];

    display: none;
    margin-left: 0.5rem;
  }

  &:hover::after {
    display: inline;
  }
}
