@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="ctp-mocha"] {
  @apply ctp-mocha;
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-2 h-2 bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-md;
  }
  ::-webkit-scrollbar-track {
    @apply bg-neutral;
  }
  ::-webkit-scrollbar-button {
    @apply hidden;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }

  .fade-in > * {
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.14, 0.64, 0.51, 0.94);
  }

  @for $i from 1 through 24 {
    .fade-in > :nth-child(#{$i}) {
      animation-delay: #{$i / 20}s;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
